body {
    background-color: whtie;
}

header {
    padding: 20px;
    font-size: 15px;
    width: 27%;
    margin: auto;
    top: 0px;
}



nav {
    display: inline;
    float: center;
    background-color: lightgray;
    padding: 10px;
    position: fixed;
    border: 10px solid black;
}

h1,
img.one {
    height: 20%;
    width: 20%;
    background-color: skyblue;
    border: 10px solid black;
    padding: 15px;
    margin: 0px;
}